<section id="epgContainer" class="home-section epg-section">
    <div id="epg" class="container">
    
        <div id="tn1epg_table" class="table-section" style="display: none;">
        <button id="downloadBtntn1epg" class="custom-button containerheader">
                   <i class="material-icons">file_download</i>&nbsp; Download report
      </button>
            <table class="table table-bordered table-striped" border="1">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Average CPU gc-0/16/1 (%)</th>
                        <th>Peak CPU gc-0/16/1 (%)</th>
                        <th>Average CPU gc-0/4/1 (%)</th>
                        <th>Peak CPU gc-0/4/1 (%)</th>
                        <th>Average CPU gc-0/5/1 (%)</th>
                        <th>Peak CPU gc-0/5/1 (%)</th>
                        <th>Average CPU gc-0/14/1 (%)</th>
                        <th>Peak CPU gc-0/14/1 (%)</th>
                        <th>Average CPU gc-0/15/1 (%)</th>
                        <th>Peak CPU gc-0/15/1 (%)</th>
                        <th>Average CPU gc-0/17/1 (%)</th>
                        <th>Peak CPU gc-0/17/1 (%)</th>
                        <th>Average CPU gc-0/6/1 (%)</th>
                        <th>Peak CPU gc-0/6/1 (%)</th>
                        <th>Active PDP context</th>
                        <th>Active EPS Bearers</th>
                        <th>Active Subscribers</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for item in tn1epg_data %}
                    <tr>
                        <td>{{ item.date }}</td>
                        <td>{{ item.avg16 }}</td>
                        <td>{{ item.peak16 }}</td>
                        <td>{{ item.avg4 }}</td>
                        <td>{{ item.peak4 }}</td>
                        <td>{{ item.avg5 }}</td>
                        <td>{{ item.peak5 }}</td>
                        <td>{{ item.avg14 }}</td>
                        <td>{{ item.peak14 }}</td>
                        <td>{{ item.avg15 }}</td>
                        <td>{{ item.peak15 }}</td>
                        <td>{{ item.avg17 }}</td>
                        <td>{{ item.peak17 }}</td>
                        <td>{{ item.avg6 }}</td>
                        <td>{{ item.peak6 }}</td>
                        <td>{{ item.actpdpcont }}</td>
                        <td>{{ item.acteps }}</td>
                        <td>{{ item.actsub }}</td>
  
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="chart-container">
                <canvas id="tn1_peak_chart"></canvas>
                <canvas id="tn1_avg_chart"></canvas>
            </div>
        </div>
        
         <div id="tn2epg_table" class="table-section" style="display: none;">
         <button id="downloadBtntn2epg" class="custom-button containerheader">
                   <i class="material-icons">file_download</i>&nbsp; Download report
      </button>
            <table class="table table-bordered table-striped" border="1">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Average CPU gc-0/16/1 (%)</th>
                        <th>Peak CPU gc-0/16/1 (%)</th>
                        <th>Average CPU gc-0/5/1 (%)</th>
                        <th>Peak CPU gc-0/5/1 (%)</th>
                        <th>Average CPU gc-0/6/1 (%)</th>
                        <th>Peak CPU gc-0/6/1 (%)</th>
                        <th>Average CPU gc-0/11/1 (%)</th>
                        <th>Peak CPU gc-0/11/1 (%)</th>
                        <th>Average CPU gc-0/12/1 (%)</th>
                        <th>Peak CPU gc-0/12/1 (%)</th>
                        <th>Average CPU gc-0/13/1 (%)</th>
                        <th>Peak CPU gc-0/13/1 (%)</th>
                        <th>Average CPU gc-0/15/1 (%)</th>
                        <th>Peak CPU gc-0/15/1 (%)</th>
                        <th>Average CPU gc-0/17/1 (%)</th>
                        <th>Peak CPU gc-0/17/1 (%)</th>
                        <th>Average CPU gc-0/18/1 (%)</th>
                        <th>Peak CPU gc-0/18/1 (%)</th>
                        <th>Average CPU gc-0/19/1 (%)</th>
                        <th>Peak CPU gc-0/19/1 (%)</th>
                        <th>Average CPU gc-0/2/1 (%)</th>
                        <th>Peak CPU gc-0/2/1 (%)</th>
                        <th>Average CPU gc-0/20/1 (%)</th>
                        <th>Peak CPU gc-0/20/1 (%)</th>
                        <th>Average CPU gc-0/3/1 (%)</th>
                        <th>Peak CPU gc-0/3/1 (%)</th>
                        <th>Average CPU gc-0/4/1 (%)</th>
                        <th>Peak CPU gc-0/4/1 (%)</th>
                        <th>Average CPU gc-0/8/1 (%)</th>
                        <th>Peak CPU gc-0/8/1 (%)</th>
                        <th>Average CPU gc-0/9/1 (%)</th>
                        <th>Peak CPU gc-0/9/1 (%)</th>
                        <th>Active PDP context</th>
                        <th>Active EPS Bearers</th>
                        <th>Active Subscribers</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for item in tn2epg_data %}
                    <tr>
                        <td>{{ item.date }}</td>
                        <td>{{ item.avg16 }}</td>
                        <td>{{ item.peak16 }}</td>
                        <td>{{ item.avg5 }}</td>
                        <td>{{ item.peak5 }}</td>
                        <td>{{ item.avg6 }}</td>
                        <td>{{ item.peak6 }}</td>
                        <td>{{ item.avg11 }}</td>
                        <td>{{ item.peak11 }}</td>
                        <td>{{ item.avg12 }}</td>
                        <td>{{ item.peak12 }}</td>
                        <td>{{ item.avg13 }}</td>
                        <td>{{ item.peak13 }}</td>
                        <td>{{ item.avg15 }}</td>
                        <td>{{ item.peak15 }}</td>
                        <td>{{ item.avg17 }}</td>
                        <td>{{ item.peak17 }}</td>
                        <td>{{ item.avg18 }}</td>
                        <td>{{ item.peak18 }}</td>
                        <td>{{ item.avg19 }}</td>
                        <td>{{ item.peak19 }}</td>
                        <td>{{ item.avg2 }}</td>
                        <td>{{ item.peak2 }}</td>
                        <td>{{ item.avg20 }}</td>
                        <td>{{ item.peak20 }}</td>
                        <td>{{ item.avg3 }}</td>
                        <td>{{ item.peak3 }}</td>
                        <td>{{ item.avg4 }}</td>
                        <td>{{ item.peak4 }}</td>
                        <td>{{ item.avg8 }}</td>
                        <td>{{ item.peak8 }}</td>
                        <td>{{ item.avg9 }}</td>
                        <td>{{ item.peak9 }}</td>
                        <td>{{ item.actpdpcont }}</td>
                        <td>{{ item.acteps }}</td>
                        <td>{{ item.actsub }}</td>
  
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="chart-container">
                <canvas id="tn2_peak_chart"></canvas>
                <canvas id="tn2_avg_chart"></canvas>
            </div>
        </div>
  
        <div id="tn2vepg_table" class="table-section" style="display: none;">
        <button id="downloadBtntn2vepg" class="custom-button containerheader">
                   <i class="material-icons">file_download</i>&nbsp; Download report
      </button>
            <table class="table table-bordered table-striped" border="1">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Average CPU gc-0/29/1 (%)</th>
                        <th>Peak CPU gc-0/29/1 (%)</th>
                        <th>Average CPU gc-0/30/1 (%)</th>
                        <th>Peak CPU gc-0/30/1 (%)</th>
                        <th>Average CPU gc-0/1/1 (%)</th>
                        <th>Peak CPU gc-0/1/1 (%)</th>
                        <th>Average CPU gc-0/10/1 (%)</th>
                        <th>Peak CPU gc-0/10/1 (%)</th>
                        <th>Average CPU gc-0/11/1 (%)</th>
                        <th>Peak CPU gc-0/11/1 (%)</th>
                        <th>Average CPU gc-0/12/1 (%)</th>
                        <th>Peak CPU gc-0/12/1 (%)</th>
                        <th>Average CPU gc-0/2/1 (%)</th>
                        <th>Peak CPU gc-0/2/1 (%)</th>
                        <th>Average CPU gc-0/3/1 (%)</th>
                        <th>Peak CPU gc-0/3/1 (%)</th>
                        <th>Average CPU gc-0/4/1 (%)</th>
                        <th>Peak CPU gc-0/4/1 (%)</th>
                        <th>Average CPU gc-0/5/1 (%)</th>
                        <th>Peak CPU gc-0/5/1 (%)</th>
                        <th>Average CPU gc-0/6/1 (%)</th>
                        <th>Peak CPU gc-0/6/1 (%)</th>
                        <th>Average CPU gc-0/7/1 (%)</th>
                        <th>Peak CPU gc-0/7/1 (%)</th>
                        <th>Average CPU gc-0/8/1 (%)</th>
                        <th>Peak CPU gc-0/8/1 (%)</th>
                        <th>Average CPU gc-0/9/1 (%)</th>
                        <th>Peak CPU gc-0/9/1 (%)</th>
                        <th>Active PDP context</th>
                        <th>Active EPS Bearers</th>
                        <th>Active Subscribers</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in tn2vepg_data %}
                    <tr>
                        <td>{{ item.date }}</td>
                        <td>{{ item.avg29 }}</td>
                        <td>{{ item.peak29}}</td>
                        <td>{{ item.avg30}}</td>
                        <td>{{ item.peak30}}</td>
                        <td>{{ item.avg1 }}</td>
                        <td>{{ item.peak1 }}</td>
                        <td>{{ item.avg10 }}</td>
                        <td>{{ item.peak10 }}</td>
                        <td>{{ item.avg11 }}</td>
                        <td>{{ item.peak11 }}</td>
                        <td>{{ item.avg12 }}</td>
                        <td>{{ item.peak12 }}</td>
                        <td>{{ item.avg2 }}</td>
                        <td>{{ item.peak2 }}</td>
                        <td>{{ item.avg3 }}</td>
                        <td>{{ item.peak3 }}</td>
                        <td>{{ item.avg4 }}</td>
                        <td>{{ item.peak4 }}</td>
                        <td>{{ item.avg5 }}</td>
                        <td>{{ item.peak5 }}</td>
                        <td>{{ item.avg6 }}</td>
                        <td>{{ item.peak6 }}</td>
                        <td>{{ item.avg7 }}</td>
                        <td>{{ item.peak7 }}</td>
                        <td>{{ item.avg8 }}</td>
                        <td>{{ item.peak8 }}</td>
                        <td>{{ item.avg9 }}</td>
                        <td>{{ item.peak9 }}</td>
                        <td>{{ item.actpdpcont }}</td>
                        <td>{{ item.acteps }}</td>
                        <td>{{ item.actsub }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="chart-container">
                <canvas id="tn2vepg_peak_chart"></canvas>
                <canvas id="tn2vepg_avg_chart"></canvas>
            </div>
        </div>
  
        <div id="sousseepg_table" class="table-section" style="display: none;">
        <button id="downloadBtnsoepg" class="custom-button containerheader">
                   <i class="material-icons">file_download</i>&nbsp; Download report
      </button>
                  <table class="table table-bordered table-striped" border="1">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Average CPU gc-0/29/1 (%)</th>
                        <th>Peak CPU gc-0/29/1 (%)</th>
                        <th>Average CPU gc-0/30/1 (%)</th>
                        <th>Peak CPU gc-0/30/1 (%)</th>
                        <th>Average CPU gc-0/1/1 (%)</th>
                        <th>Peak CPU gc-0/1/1 (%)</th>
                        <th>Average CPU gc-0/2/1 (%)</th>
                        <th>Peak CPU gc-0/2/1 (%)</th>
                        <th>Average CPU gc-0/3/1 (%)</th>
                        <th>Peak CPU gc-0/3/1 (%)</th>
                        <th>Average CPU gc-0/4/1 (%)</th>
                        <th>Peak CPU gc-0/4/1 (%)</th>
                        <th>Average CPU gc-0/5/1 (%)</th>
                        <th>Peak CPU gc-0/5/1 (%)</th>
                        <th>Average CPU gc-0/6/1 (%)</th>
                        <th>Peak CPU gc-0/6/1 (%)</th>
                        <th>Active PDP context</th>
                        <th>Active EPS Bearers</th>
                        <th>Active Subscribers</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in soepg_data %}
                    <tr>
                        <td>{{ item.date }}</td>
                        <td>{{ item.avg29 }}</td>
                        <td>{{ item.peak29}}</td>
                        <td>{{ item.avg30}}</td>
                        <td>{{ item.peak30}}</td>
                        <td>{{ item.avg1 }}</td>
                        <td>{{ item.peak1 }}</td>
                        <td>{{ item.avg2 }}</td>
                        <td>{{ item.peak2 }}</td>
                        <td>{{ item.avg3 }}</td>
                        <td>{{ item.peak3 }}</td>
                        <td>{{ item.avg4 }}</td>
                        <td>{{ item.peak4 }}</td>
                        <td>{{ item.avg5 }}</td>
                        <td>{{ item.peak5 }}</td>
                        <td>{{ item.avg6 }}</td>
                        <td>{{ item.peak6 }}</td>
                        <td>{{ item.actpdpcont }}</td>
                        <td>{{ item.acteps }}</td>
                        <td>{{ item.actsub }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="chart-container">
                <canvas id="sousse_peak_chart"></canvas>
                <canvas id="sousse_avg_chart"></canvas>
            </div>
        </div>
    </div>

  
  </section>
  
  <script>
    $(document).ready(function() {
        $('.table-section').hide();
        $('#tn1epg_table').show();
    
     
    
    function exportToExcel(tableId) {
	  const table = document.getElementById(tableId);
	  if (!table) {
	    console.error(`Table element with ID '${tableId}' not found.`);
	    return;
	  }

	  const rows = table.querySelectorAll('tbody tr');
	  const header = [];
	  table.querySelectorAll('thead th').forEach(th => {
	    header.push(th.textContent.trim());
	  });

	  const data = [];
	  data.push(header);

	  rows.forEach(row => {
	    if (row.style.display !== 'none') { 
	      const rowData = [];
	      row.querySelectorAll('td').forEach(cell => {
		let cellValue = cell.textContent.trim();
		if (!isNaN(cellValue)) {
		  cellValue = cellValue.replace('.', ',');
		}
		rowData.push(cellValue);
	      });
	      data.push(rowData);
	    }
	  });

	  const wb = XLSX.utils.book_new();
	  const ws = XLSX.utils.aoa_to_sheet(data);
	  XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');

	  XLSX.writeFile(wb, `${tableId}.xlsx`);
	}

    $('#downloadBtntn1epg').click(function(e) {
      e.preventDefault();
      exportToExcel('tn1epg_table');
    });
    
    $('#downloadBtntn2epg').click(function(e) {
      e.preventDefault();
      exportToExcel('tn2epg_table');
    });
    
    $('#downloadBtntn2vepg').click(function(e) {
      e.preventDefault();
      exportToExcel('tn2vepg_table');
    });
    
    $('#downloadBtnsoepg').click(function(e) {
      e.preventDefault();
      exportToExcel('sousseepg_table');
    });
        
        function formatDate(date) {
            const year = date.getFullYear();
            const month = String(date.getMonth() + 1).padStart(2, '0');
            const day = String(date.getDate()).padStart(2, '0');
            return `${year}.${month}.${day}`;
        }
        
        function getDaysInRange(startDate, endDate) {
	    const dateArray = [];
	    const currentDate = new Date(startDate);

	    while (currentDate <= endDate) {

		dateArray.push(new Date(currentDate).toISOString().split('T')[0]); 

		currentDate.setDate(currentDate.getDate() + 1);
	    }
	    
	    return dateArray;
	}
	
	
	
	function extractAverageCPU(datesArray) {
	    const averageCPUData = [];
	    const rows = document.querySelectorAll('#tn1epg_table tbody tr');
	    rows.forEach(row => {
		const dateCell = row.cells[0].textContent; 
		if (datesArray.includes(dateCell)) {
		    const rowData = [];
		    for (let i = 1; i < 14; i += 2) {
		        rowData.push(row.cells[i].textContent);
		    }
		    averageCPUData.push(rowData);
		}
	    });
	    const transposedData = [];
	    const maxLength = averageCPUData.length;
	    for (let i = 0; i < Math.max(...averageCPUData.map(r => r.length)); i++) {
		const colData = [];
		for (let j = 0; j < maxLength; j++) {
		    if (averageCPUData[j][i] !== undefined) {
		        colData.push(averageCPUData[j][i]);
		    }
		}
		transposedData.push(colData);
	    }

	    return transposedData;
	}
	
	function extractPeakCPU(datesArray) {
	    const peakCPUData = [];
	    const rows = document.querySelectorAll('#tn1epg_table tbody tr');
	    rows.forEach(row => {
		const dateCell = row.cells[0].textContent; 
		if (datesArray.includes(dateCell)) {
		    const rowData = [];
		    for (let i = 2; i < 16; i += 2) { 
		        rowData.push(row.cells[i].textContent);
		    }
		    peakCPUData.push(rowData);
		}
	    });
	    const transposedData = [];
	    const maxLength = peakCPUData.length;
	    for (let i = 0; i < Math.max(...peakCPUData.map(r => r.length)); i++) {
		const colData = [];
		for (let j = 0; j < maxLength; j++) {
		    if (peakCPUData[j][i] !== undefined) {
		        colData.push(peakCPUData[j][i]);
		    }
		}
		transposedData.push(colData);
	    }
	    return transposedData;
	}
	
	function extractAverageCPUTN2(datesArray) {
	    const averageCPUData = [];
	    const rows = document.querySelectorAll('#tn2epg_table tbody tr');
	    rows.forEach(row => {
		const dateCell = row.cells[0].textContent; 
		if (datesArray.includes(dateCell)) {
		    const rowData = [];
		    for (let i = 1; i < 32; i += 2) {
		        rowData.push(row.cells[i].textContent);
		    }
		    averageCPUData.push(rowData);
		}
	    });
	    const transposedData = [];
	    const maxLength = averageCPUData.length;
	    for (let i = 0; i < Math.max(...averageCPUData.map(r => r.length)); i++) {
		const colData = [];
		for (let j = 0; j < maxLength; j++) {
		    if (averageCPUData[j][i] !== undefined) {
		        colData.push(averageCPUData[j][i]);
		    }
		}
		transposedData.push(colData);
	    }

	    return transposedData;
	}
	
	function extractPeakCPUTN2(datesArray) {
	    const peakCPUData = [];
	    const rows = document.querySelectorAll('#tn2epg_table tbody tr');
	    rows.forEach(row => {
		const dateCell = row.cells[0].textContent; 
		if (datesArray.includes(dateCell)) {
		    const rowData = [];
		    for (let i = 2; i < 32; i += 2) { 
		        rowData.push(row.cells[i].textContent);
		    }
		    peakCPUData.push(rowData);
		}
	    });
	    const transposedData = [];
	    const maxLength = peakCPUData.length;
	    for (let i = 0; i < Math.max(...peakCPUData.map(r => r.length)); i++) {
		const colData = [];
		for (let j = 0; j < maxLength; j++) {
		    if (peakCPUData[j][i] !== undefined) {
		        colData.push(peakCPUData[j][i]);
		    }
		}
		transposedData.push(colData);
	    }
	    return transposedData;
	}
	
	function extractAverageCPUTN2vepg(datesArray) {
	    const averageCPUData = [];
	    const rows = document.querySelectorAll('#tn2vepg_table tbody tr');
	    rows.forEach(row => {
		const dateCell = row.cells[0].textContent; 
		if (datesArray.includes(dateCell)) {
		    const rowData = [];
		    for (let i = 1; i < 28; i += 2) {
		        rowData.push(row.cells[i].textContent);
		    }
		    averageCPUData.push(rowData);
		}
	    });
	    const transposedData = [];
	    const maxLength = averageCPUData.length;
	    for (let i = 0; i < Math.max(...averageCPUData.map(r => r.length)); i++) {
		const colData = [];
		for (let j = 0; j < maxLength; j++) {
		    if (averageCPUData[j][i] !== undefined) {
		        colData.push(averageCPUData[j][i]);
		    }
		}
		transposedData.push(colData);
	    }

	    return transposedData;
	}
	
	function extractPeakCPUTN2vepg(datesArray) {
	    const peakCPUData = [];
	    const rows = document.querySelectorAll('#tn2vepg_table tbody tr');
	    rows.forEach(row => {
		const dateCell = row.cells[0].textContent; 
		if (datesArray.includes(dateCell)) {
		    const rowData = [];
		    for (let i = 2; i < 28; i += 2) { 
		        rowData.push(row.cells[i].textContent);
		    }
		    peakCPUData.push(rowData);
		}
	    });
	    const transposedData = [];
	    const maxLength = peakCPUData.length;
	    for (let i = 0; i < Math.max(...peakCPUData.map(r => r.length)); i++) {
		const colData = [];
		for (let j = 0; j < maxLength; j++) {
		    if (peakCPUData[j][i] !== undefined) {
		        colData.push(peakCPUData[j][i]);
		    }
		}
		transposedData.push(colData);
	    }
	    return transposedData;
	}
	
	function extractAverageCPUsousse(datesArray) {
	    const averageCPUData = [];
	    const rows = document.querySelectorAll('#sousseepg_table tbody tr');
	    rows.forEach(row => {
		const dateCell = row.cells[0].textContent; 
		if (datesArray.includes(dateCell)) {
		    const rowData = [];
		    for (let i = 1; i < 16; i += 2) {
		        rowData.push(row.cells[i].textContent);
		    }
		    averageCPUData.push(rowData);
		}
	    });
	    const transposedData = [];
	    const maxLength = averageCPUData.length;
	    for (let i = 0; i < Math.max(...averageCPUData.map(r => r.length)); i++) {
		const colData = [];
		for (let j = 0; j < maxLength; j++) {
		    if (averageCPUData[j][i] !== undefined) {
		        colData.push(averageCPUData[j][i]);
		    }
		}
		transposedData.push(colData);
	    }

	    return transposedData;
	}
	
	function extractPeakCPUsousse(datesArray) {
	    const peakCPUData = [];
	    const rows = document.querySelectorAll('#sousseepg_table tbody tr');
	    rows.forEach(row => {
		const dateCell = row.cells[0].textContent; 
		if (datesArray.includes(dateCell)) {
		    const rowData = [];
		    for (let i = 2; i < 16; i += 2) { 
		        rowData.push(row.cells[i].textContent);
		    }
		    peakCPUData.push(rowData);
		}
	    });
	    const transposedData = [];
	    const maxLength = peakCPUData.length;
	    for (let i = 0; i < Math.max(...peakCPUData.map(r => r.length)); i++) {
		const colData = [];
		for (let j = 0; j < maxLength; j++) {
		    if (peakCPUData[j][i] !== undefined) {
		        colData.push(peakCPUData[j][i]);
		    }
		}
		transposedData.push(colData);
	    }
	    return transposedData;
	}
	
	
        $('#goBtn-epg').click(function(e) {
		    e.preventDefault();

		    var selectedOption = $('.custom-select').val();
		    var dateRange = $('#dateRangePicker-epg').val().split(' to ');

		    if (dateRange.length !== 2) {
			alert("Veuillez sélectionner une plage de dates valide.");
			return;
		    }

		    var startDate = new Date(dateRange[0]);
		    var endDate = new Date(dateRange[1]);
		    
		    const daysInRange = getDaysInRange(new Date(startDate), new Date(endDate));
		    console.log(daysInRange);

		    $('.swiper-container').hide(); 
		    $('.table-section').hide(); 
		    $('#' + selectedOption.toLowerCase() + '_table').show(); 

		    logMaxValuesInRange('#' + selectedOption.toLowerCase() + '_table', startDate, endDate);
	

		    const peakData = extractPeakCPU(daysInRange); 
		    const avgData = extractAverageCPU(daysInRange); 
		    const peakDatatn2 = extractPeakCPUTN2(daysInRange); 
		    const avgDatatn2 = extractAverageCPUTN2(daysInRange); 
		    const peakDatatn2vepg = extractPeakCPUTN2vepg(daysInRange); 
		    const avgDatatn2vepg = extractAverageCPUTN2vepg(daysInRange); 
		    const peakDatasousse = extractPeakCPUsousse(daysInRange);
		    const avgDatasousse = extractAverageCPUsousse(daysInRange); 
			console.log('hello', peakDatatn2);
		    if (selectedOption.toLowerCase() === 'tn1epg') {
			const labels = daysInRange; 
        		afficherChartsTN1(labels, peakData, avgData)
		    } else if (selectedOption.toLowerCase() === 'tn2epg') {
		        const labels = daysInRange; 
			afficherChartsTN2(labels, peakDatatn2, avgDatatn2); 
		    } else if (selectedOption.toLowerCase() === 'tn2vepg') {
			const labels = daysInRange; 
			afficherChartsTN2VEPG(labels, peakDatatn2vepg, avgDatatn2vepg);
		    } else if (selectedOption.toLowerCase() === 'sousseepg') {
			const labels = daysInRange; 
			afficherChartsSOUSSE(labels, peakDatasousse, avgDatasousse);
		    }
		});

	function afficherChartsTN1(labels, peakData, avgData) {
	    var ctxPeak = document.getElementById('tn1_peak_chart').getContext('2d');
	    var ctxAvg = document.getElementById('tn1_avg_chart').getContext('2d');


	    const peakColors = [
		'rgba(255, 99, 132, 1)',
		'rgba(54, 162, 235, 1)',
		'rgba(255, 206, 86, 1)',
		'rgba(75, 192, 192, 1)',
		'rgba(153, 102, 255, 1)',
		'rgba(255, 159, 64, 1)',
		'rgba(255, 99, 132, 1)'
	    ];

	    const avgColors = [
		'rgba(255, 99, 132, 0.5)',
		'rgba(54, 162, 235, 0.5)',
		'rgba(255, 206, 86, 0.5)',
		'rgba(75, 192, 192, 0.5)',
		'rgba(153, 102, 255, 0.5)',
		'rgba(255, 159, 64, 0.5)',
		'rgba(255, 99, 132, 0.5)'
	    ];


	    const peakLabels = [
		'Peak CPU gc-0/16/1 (%)',
		'Peak CPU gc-0/4/1 (%)',
		'Peak CPU gc-0/5/1 (%)',
		'Peak CPU gc-0/14/1 (%)',
		'Peak CPU gc-0/15/1 (%)',
		'Peak CPU gc-0/17/1 (%)',
		'Peak CPU gc-0/6/1 (%)'
	    ];

	    const avgLabels = [
		'Average CPU gc-0/16/1 (%)',
		'Average CPU gc-0/4/1 (%)',
		'Average CPU gc-0/5/1 (%)',
		'Average CPU gc-0/14/1 (%)',
		'Average CPU gc-0/15/1 (%)',
		'Average CPU gc-0/17/1 (%)',
		'Average CPU gc-0/6/1 (%)'
	    ];

	  
	    const peakDatasets = peakData.map((data, index) => ({
		label: peakLabels[index], 
		data: data,
		backgroundColor: peakColors[index],
		borderColor: peakColors[index],
		borderWidth: 1
	    }));

	    
	    const avgDatasets = avgData.map((data, index) => ({
		label: avgLabels[index], 
		data: data,
		backgroundColor: avgColors[index],
		borderColor: avgColors[index],
		borderWidth: 1
	    }));

	    new Chart(ctxPeak, {
		type: 'line',
		data: {
		    labels: labels,
		    datasets: peakDatasets 
		},
		options: {}
	    });

	    new Chart(ctxAvg, {
		type: 'line',
		data: {
		    labels: labels,
		    datasets: avgDatasets 
		},
		options: {}
	    });
	}



	function afficherChartsTN2(labels, peakDatatn2, avgDatatn2) {
	    var ctxPeaktn2 = document.getElementById('tn2_peak_chart').getContext('2d');
	    var ctxAvgtn2 = document.getElementById('tn2_avg_chart').getContext('2d');


	    const peakColorstn2 = [
		    'rgba(255, 99, 132, 1)',
		    'rgba(54, 162, 235, 1)',
		    'rgba(255, 206, 86, 1)',
		    'rgba(75, 192, 192, 1)',
		    'rgba(153, 102, 255, 1)',
		    'rgba(255, 159, 64, 1)',
		    'rgba(255, 99, 132, 1)',
		    'rgba(201, 203, 207, 1)', 
		    'rgba(255, 99, 0, 1)',
		    'rgba(0, 255, 0, 1)',
		    'rgba(0, 0, 255, 1)',
		    'rgba(255, 0, 255, 1)',
		    'rgba(0, 255, 255, 1)',
		    'rgba(128, 0, 128, 1)',
		    'rgba(0, 128, 0, 1)',
		    'rgba(128, 128, 0, 1)',
		    'rgba(128, 128, 128, 1)'  
		];

		const avgColorstn2 = [
		    'rgba(255, 99, 132, 0.5)',
		    'rgba(54, 162, 235, 0.5)',
		    'rgba(255, 206, 86, 0.5)',
		    'rgba(75, 192, 192, 0.5)',
		    'rgba(153, 102, 255, 0.5)',
		    'rgba(255, 159, 64, 0.5)',
		    'rgba(255, 99, 132, 0.5)',
		    'rgba(201, 203, 207, 0.5)', 
		    'rgba(255, 99, 0, 0.5)',
		    'rgba(0, 255, 0, 0.5)',
		    'rgba(0, 0, 255, 0.5)',
		    'rgba(255, 0, 255, 0.5)',
		    'rgba(0, 255, 255, 0.5)',
		    'rgba(128, 0, 128, 0.5)',
		    'rgba(0, 128, 0, 0.5)',
		    'rgba(128, 128, 0, 0.5)',
		    'rgba(128, 128, 128, 0.5)'  
		];



	    const peakLabelstn2 = [
		    'Peak CPU gc-0/16/1 (%)',
		    'Peak CPU gc-0/5/1 (%)',
		    'Peak CPU gc-0/6/1 (%)',
		    'Peak CPU gc-0/11/1 (%)',
		    'Peak CPU gc-0/12/1 (%)',
		    'Peak CPU gc-0/13/1 (%)',
		    'Peak CPU gc-0/15/1 (%)',
		    'Peak CPU gc-0/17/1 (%)',
		    'Peak CPU gc-0/18/1 (%)',
		    'Peak CPU gc-0/19/1 (%)',
		    'Peak CPU gc-0/2/1 (%)',
		    'Peak CPU gc-0/20/1 (%)',
		    'Peak CPU gc-0/3/1 (%)',
		    'Peak CPU gc-0/4/1 (%)',
		    'Peak CPU gc-0/8/1 (%)',
		    'Peak CPU gc-0/9/1 (%)'
		];

		const avgLabelstn2 = [
		    'Average CPU gc-0/16/1 (%)',
		    'Average CPU gc-0/5/1 (%)',
		    'Average CPU gc-0/6/1 (%)',
		    'Average CPU gc-0/11/1 (%)',
		    'Average CPU gc-0/12/1 (%)',
		    'Average CPU gc-0/13/1 (%)',
		    'Average CPU gc-0/15/1 (%)',
		    'Average CPU gc-0/17/1 (%)',
		    'Average CPU gc-0/18/1 (%)',
		    'Average CPU gc-0/19/1 (%)',
		    'Average CPU gc-0/2/1 (%)',
		    'Average CPU gc-0/20/1 (%)',
		    'Average CPU gc-0/3/1 (%)',
		    'Average CPU gc-0/4/1 (%)',
		    'Average CPU gc-0/8/1 (%)',
		    'Average CPU gc-0/9/1 (%)'
		];


	    const peakDatasets = peakDatatn2.map((data, index) => ({
		label: peakLabelstn2[index], 
		data: data,
		backgroundColor: peakColorstn2[index],
		borderColor: peakColorstn2[index],
		borderWidth: 1
	    }));


	    const avgDatasets = avgDatatn2.map((data, index) => ({
		label: avgLabelstn2[index], 
		data: data,
		backgroundColor: avgColorstn2[index],
		borderColor: avgColorstn2[index],
		borderWidth: 1
	    }));

	    new Chart(ctxPeaktn2, {
		type: 'line',
		data: {
		    labels: labels,
		    datasets: peakDatasets 
		},
		options: {}
	    });

	    new Chart(ctxAvgtn2, {
		type: 'line',
		data: {
		    labels: labels,
		    datasets: avgDatasets 
		},
		options: {}
	    });
	}
	
	
	

		function afficherChartsTN2VEPG(labels, peakDatatn2vepg, avgDatatn2vepg) {
	    var ctxPeaktn2vepg = document.getElementById('tn2vepg_peak_chart').getContext('2d');
	    var ctxAvgtn2vepg = document.getElementById('tn2vepg_avg_chart').getContext('2d');


	    const peakColorstn2vepg = [
		    'rgba(255, 99, 132, 1)',
		    'rgba(54, 162, 235, 1)',
		    'rgba(255, 206, 86, 1)',
		    'rgba(75, 192, 192, 1)',
		    'rgba(153, 102, 255, 1)',
		    'rgba(255, 159, 64, 1)',
		    'rgba(255, 99, 132, 1)',
		    'rgba(201, 203, 207, 1)',
		    'rgba(255, 99, 0, 1)',
		    'rgba(0, 255, 0, 1)',
		    'rgba(0, 0, 255, 1)',
		    'rgba(255, 0, 255, 1)',
		    'rgba(0, 255, 255, 1)',
		    'rgba(128, 0, 128, 1)',
		    'rgba(0, 128, 0, 1)',
		    'rgba(128, 128, 0, 1)',
		    'rgba(128, 128, 128, 1)' 
		];

		const avgColorstn2vepg = [
		    'rgba(255, 99, 132, 0.5)',
		    'rgba(54, 162, 235, 0.5)',
		    'rgba(255, 206, 86, 0.5)',
		    'rgba(75, 192, 192, 0.5)',
		    'rgba(153, 102, 255, 0.5)',
		    'rgba(255, 159, 64, 0.5)',
		    'rgba(255, 99, 132, 0.5)',
		    'rgba(201, 203, 207, 0.5)',
		    'rgba(255, 99, 0, 0.5)',
		    'rgba(0, 255, 0, 0.5)',
		    'rgba(0, 0, 255, 0.5)',
		    'rgba(255, 0, 255, 0.5)',
		    'rgba(0, 255, 255, 0.5)',
		    'rgba(128, 0, 128, 0.5)',
		    'rgba(0, 128, 0, 0.5)',
		    'rgba(128, 128, 0, 0.5)',
		    'rgba(128, 128, 128, 0.5)'  
		];



	    const peakLabelstn2vepg = [
		    'Peak CPU gc-0/29/1 (%)',
		    'Peak CPU gc-0/30/1 (%)',
		    'Peak CPU gc-0/1/1 (%)',
		    'Peak CPU gc-0/10/1 (%)',
		    'Peak CPU gc-0/11/1 (%)',
		    'Peak CPU gc-0/12/1 (%)',
		    'Peak CPU gc-0/2/1 (%)',
		    'Peak CPU gc-0/3/1 (%)',
		    'Peak CPU gc-0/4/1 (%)',
		    'Peak CPU gc-0/5/1 (%)',
		    'Peak CPU gc-0/6/1 (%)',
		    'Peak CPU gc-0/7/1 (%)',
		    'Peak CPU gc-0/8/1 (%)',
		    'Peak CPU gc-0/9/1 (%)'
		];

		const avgLabelstn2vepg = [
		    'Average CPU gc-0/29/1 (%)',
		    'Average CPU gc-0/30/1 (%)',
		    'Average CPU gc-0/1/1 (%)',
		    'Average CPU gc-0/10/1 (%)',
		    'Average CPU gc-0/11/1 (%)',
		    'Average CPU gc-0/12/1 (%)',
		    'Average CPU gc-0/2/1 (%)',
		    'Average CPU gc-0/3/1 (%)',
		    'Average CPU gc-0/4/1 (%)',
		    'Average CPU gc-0/5/1 (%)',
		    'Average CPU gc-0/6/1 (%)',
		    'Average CPU gc-0/7/1 (%)',
		    'Average CPU gc-0/8/1 (%)',
		    'Average CPU gc-0/9/1 (%)'
		];



	    const peakDatasets = peakDatatn2vepg.map((data, index) => ({
		label: peakLabelstn2vepg[index], 
		data: data,
		backgroundColor: peakColorstn2vepg[index],
		borderColor: peakColorstn2vepg[index],
		borderWidth: 1
	    }));


	    const avgDatasets = avgDatatn2vepg.map((data, index) => ({
		label: avgLabelstn2vepg[index],
		data: data,
		backgroundColor: avgColorstn2vepg[index],
		borderColor: avgColorstn2vepg[index],
		borderWidth: 1
	    }));

	    new Chart(ctxPeaktn2vepg, {
		type: 'line',
		data: {
		    labels: labels,
		    datasets: peakDatasets 
		},
		options: {}
	    });

	    new Chart(ctxAvgtn2vepg, {
		type: 'line',
		data: {
		    labels: labels,
		    datasets: avgDatasets 
		},
		options: {}
	    });
	}
	
	
	
	function afficherChartsSOUSSE(labels, peakDatasousse, avgDatasousse) {
	    var ctxPeaksousse = document.getElementById('sousse_peak_chart').getContext('2d');
	    var ctxAvgsousse = document.getElementById('sousse_avg_chart').getContext('2d');


	    const peakColorssousse = [
		    'rgba(255, 99, 132, 1)',
		    'rgba(54, 162, 235, 1)',
		    'rgba(255, 206, 86, 1)',
		    'rgba(75, 192, 192, 1)',
		    'rgba(153, 102, 255, 1)',
		    'rgba(255, 159, 64, 1)',
		    'rgba(255, 99, 132, 1)',
		    'rgba(201, 203, 207, 1)', 
		    'rgba(255, 99, 0, 1)',
		    'rgba(0, 255, 0, 1)',
		    'rgba(0, 0, 255, 1)',
		    'rgba(255, 0, 255, 1)',
		    'rgba(0, 255, 255, 1)',
		    'rgba(128, 0, 128, 1)',
		    'rgba(0, 128, 0, 1)',
		    'rgba(128, 128, 0, 1)',
		    'rgba(128, 128, 128, 1)'  
		];

		const avgColorssousse = [
		    'rgba(255, 99, 132, 0.5)',
		    'rgba(54, 162, 235, 0.5)',
		    'rgba(255, 206, 86, 0.5)',
		    'rgba(75, 192, 192, 0.5)',
		    'rgba(153, 102, 255, 0.5)',
		    'rgba(255, 159, 64, 0.5)',
		    'rgba(255, 99, 132, 0.5)',
		    'rgba(201, 203, 207, 0.5)', // Ajout de couleurs
		    'rgba(255, 99, 0, 0.5)',
		    'rgba(0, 255, 0, 0.5)',
		    'rgba(0, 0, 255, 0.5)',
		    'rgba(255, 0, 255, 0.5)',
		    'rgba(0, 255, 255, 0.5)',
		    'rgba(128, 0, 128, 0.5)',
		    'rgba(0, 128, 0, 0.5)',
		    'rgba(128, 128, 0, 0.5)',
		    'rgba(128, 128, 128, 0.5)'  // Dernière couleur
		];


	    const peakLabelssousse = [
		    'Peak CPU gc-0/29/1 (%)',
		    'Peak CPU gc-0/30/1 (%)',
		    'Peak CPU gc-0/1/1 (%)',
		    'Peak CPU gc-0/2/1 (%)',
		    'Peak CPU gc-0/3/1 (%)',
		    'Peak CPU gc-0/4/1 (%)',
		    'Peak CPU gc-0/5/1 (%)',
		    'Peak CPU gc-0/6/1 (%)'
		];

		const avgLabelssousse = [
		    'Average CPU gc-0/29/1 (%)',
		    'Average CPU gc-0/30/1 (%)',
		    'Average CPU gc-0/1/1 (%)',
		    'Average CPU gc-0/2/1 (%)',
		    'Average CPU gc-0/3/1 (%)',
		    'Average CPU gc-0/4/1 (%)',
		    'Average CPU gc-0/5/1 (%)',
		    'Average CPU gc-0/6/1 (%)'
		];



	    const peakDatasets = peakDatasousse.map((data, index) => ({
		label: peakLabelssousse[index], // Utiliser le nom de la colonne comme label
		data: data,
		backgroundColor: peakColorssousse[index],
		borderColor: peakColorssousse[index],
		borderWidth: 1
	    }));


	    const avgDatasets = avgDatasousse.map((data, index) => ({
		label: avgLabelssousse[index], // Utiliser le nom de la colonne comme label
		data: data,
		backgroundColor: avgColorssousse[index],
		borderColor: avgColorssousse[index],
		borderWidth: 1
	    }));

	    new Chart(ctxPeaksousse, {
		type: 'line',
		data: {
		    labels: labels,
		    datasets: peakDatasets // Utiliser les datasets préparés pour Peak
		},
		options: {}
	    });

	    new Chart(ctxAvgsousse, {
		type: 'line',
		data: {
		    labels: labels,
		    datasets: avgDatasets // Utiliser les datasets préparés pour Avg
		},
		options: {}
	    });
	}
	
	

			    
		function logMaxValuesInRange(tableId, startDate, endDate) {

		    $(tableId + ' tbody tr.max-values-row').remove();

		    var maxValues = [];
		    var headers = $(tableId + ' th');
		    var numColumns = headers.length;

		    for (var i = 0; i < numColumns; i++) {
			maxValues[i] = -Infinity;
		    }


		    $(tableId + ' tbody tr').each(function() {
			var dateText = $(this).find('td:first-child').text().trim();
			var rowDate = new Date(dateText.replace(/\./g, '-'));


			if (rowDate >= startDate && rowDate <= endDate) {
			    $(this).show(); 
			    $(this).find('td').each(function(index) {
				var value = parseFloat($(this).text().replace(',', '.'));
				if (!isNaN(value)) {
				    if (value > maxValues[index]) {
				        maxValues[index] = value;
				    }
				}
			    });
			} else {
			    $(this).hide();
			}
		    });


		    var maxValuesRow = '<tr class="max-values-row">';
		    maxValuesRow += '<td>Maximum</td>'; 
		    for (var i = 1; i < maxValues.length; i++) {
			maxValuesRow += '<td>' + (isFinite(maxValues[i]) ? maxValues[i] : 'N/A') + '</td>';
		    }
		    maxValuesRow += '</tr>';

		    
		    $(tableId + ' tbody').append(maxValuesRow);
		}
            });
        </script>

