{%load static %}<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <!-- Feuilles de style locales -->
  <link rel="stylesheet" href="{% static 'css/uicons-solid-rounded.css' %}">
  <link rel="stylesheet" href="{% static 'css/uicons-bold-rounded.css' %}">
  <link rel="stylesheet" href="{% static 'css/uicons-brands.css' %}">
  <link rel="stylesheet" href="{% static 'css/material-icons.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/font.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/flatpickr.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
  <script src="{% static 'js/xlsx.full.min.js' %}"></script>
  <script src="{% static 'js/chart.js' %}"></script>
  <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'js/flatpickr.js' %}"></script>
  <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
</head>

<body id="body-pd" class="body1">

  <div class="l-navbar" id="navbar">
    <nav class="nav">
      <div class="nav__brand">
        <a href="#" class="nav__logo">
          <img src="/static/img/logo.png" alt="" class="logo" id="nav-toggle">
          <span class="nav__text">Dash d'Or</span>
        </a>
      </div>
      <div class="nav__list">
        <a href="/index" class="nav__link active">
          <i class="material-icons nav__icon">home</i>
          <span class="nav__name">Dashboard</span>
        </a>
      </div>

      <a href="{% url 'logout' %}" class="nav__link">
        <i class="material-icons nav__icon">logout</i>
        <span class="nav__name">Log Out</span>
      </a>
    </nav>
  </div>

  <section class="home-section">
    <div class="home-content">
      <button class="custom-button show-mme active" id="mmeBtn">SGSN-MME OMEA</button>
      <button class="custom-button show-int" id="intBtn">SGSN-MME INT</button>
      <button class="custom-button show-global" id="globalBtn">SGSN-MME Global</button>
      <button class="custom-button show-apn" id="apnBtn">GGSN-EPG APN</button>
      <button class="custom-button show-epg" id="epgBtn">GGSN-EPG</button>

      <span class="vertical-line"></span>

      <div class="containerheader">
  <div class="input-container">

    <input type="text" id="dateRangePicker-mme" class="custom-input datepicker" placeholder="Select Date (MME)" style="display:none;" />
    <button class="custom-button go-button" id="goBtn-mme" style="display:none;">Go (MME)</button>
  </div>
  
  <div class="input-container">
    <input type="text" id="dateRangePicker-int" class="custom-input datepicker" placeholder="Select Date (INT)" style="display:none;" />
    <button class="custom-button go-button" id="goBtn-int" style="display:none;">Go (INT)</button>
  </div>

  <div class="input-container">
    <input type="text" id="dateRangePicker-global" class="custom-input datepicker" placeholder="Select Date (Global)" style="display:none;" />
    <button class="custom-button go-button" id="goBtn-global" style="display:none;">Go (Global)</button>
  </div>
  
  <div class="input-container">
    <input type="text" id="dateRangePicker-apn" class="custom-input datepicker" placeholder="Select Date (APN)" style="display:none;" />
    <button class="custom-button go-button" id="goBtn-apn" style="display:none;">Go (APN)</button>
  </div>

  <div class="input-container">
    <input type="text" id="dateRangePicker-epg" class="custom-input datepicker" placeholder="Select Date (EPG)" style="display:none;" />
    <button class="custom-button go-button" id="goBtn-epg" style="display:none;">Go (EPG)</button>
  </div>

  <select class="custom-input custom-select" id="selectOptions">
    <option value="TN1" class="custom-button">TN1</option>
    <option value="TN2" class="custom-button">TN2</option>
    <option value="Sousse" class="custom-button">Sousse</option>
    <option value="All" class="custom-button" selected>All</option>
  </select>
</div>
  </section>

  <div id="content">
    {% include 'MMEomea.html' %}
  </div>

  <script>
    $(document).ready(function() {
      function initializeDatepicker(selector) {
        flatpickr(selector, {
          mode: "range",
          dateFormat: "Y-m-d",

        });
      }


      initializeDatepicker('#dateRangePicker-mme');
      initializeDatepicker('#dateRangePicker-int');
      initializeDatepicker('#dateRangePicker-global');
      initializeDatepicker('#dateRangePicker-apn');
      initializeDatepicker('#dateRangePicker-epg');

      function handleButtonClick(buttonId, containerToShow, contentUrl, selectOptions, datepickerId, goBtnId) {
        $(buttonId).click(function(e) {
          e.preventDefault();
          $('#content').load(contentUrl);
          $(containerToShow).show();
          $('#mmeContainer, #intContainer, #globalContainer, #epgContainer, #apnContainer').not(containerToShow).hide();
          $('#dateRangePicker-mme, #dateRangePicker-int, #dateRangePicker-global, #dateRangePicker-apn, #dateRangePicker-epg').not(datepickerId).hide();
          $('#goBtn-mme, #goBtn-int, #goBtn-global, #goBtn-apn, #goBtn-epg').not(goBtnId).hide();
          $(datepickerId).show();
          $(goBtnId).show();
          $('#selectOptions').html(selectOptions);


          $('.custom-button').removeClass('active');
          

          $(this).addClass('active');
        });
      }
    

      handleButtonClick('#mmeBtn', '#mmeContainer', '{% url "mme" %}', `
        <option value="TN1" class="custom-button">TN1</option>
        <option value="TN2" class="custom-button">TN2</option>
        <option value="Sousse" class="custom-button">Sousse</option>
        <option value="All" class="custom-button">All</option>
      `, '#dateRangePicker-mme', '#goBtn-mme');
    
      handleButtonClick('#intBtn', '#intContainer', '{% url "int" %}', `
        <option value="Int" class="custom-button">All</option>
        <option value="Allaverage" class="custom-button">All Average</option>
      `, '#dateRangePicker-int', '#goBtn-int');
    
      handleButtonClick('#globalBtn', '#globalContainer', '{% url "global" %}', `
        <option value="TN1global" class="custom-button">TN1</option>
        <option value="TN2global" class="custom-button">TN2</option>
        <option value="Sousseglobal" class="custom-button">Sousse</option>
        <option value="global" class="custom-button">Global</option>
      `, '#dateRangePicker-global', '#goBtn-global');
    
      handleButtonClick('#epgBtn', '#epgContainer', '{% url "epg" %}', `
        <option value="TN1epg" class="custom-button">TN1</option>
        <option value="TN2epg" class="custom-button">TN2</option>
        <option value="TN2vepg" class="custom-button">TN2vEPG</option>
        <option value="sousseepg" class="custom-button">Sousse</option>
      `, '#dateRangePicker-epg', '#goBtn-epg');

      handleButtonClick('#apnBtn', '#apnContainer', '{% url "apn" %}', `
        "<option value="TN1apn" class="custom-button">TN1</option>
        <option value="TN2apn" class="custom-button">TN2</option>
        <option value="TN2vepgapn" class="custom-button">TN2vEPG</option>
        <option value="sousseapn" class="custom-button">Sousse</option> 
        <option value="allapn" class="custom-button">All</option> 
      `, '#dateRangePicker-apn', '#goBtn-apn');


      $('#mmeBtn').click();
    });
  </script>
</body>
</html>

