{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://accounts.google.com/gsi/client"></script>
<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <style>
    </style>
</head>
<body>
<form method="post" style="height: 500px; width: 400px; top: 50%; left: 50%;">
    {% csrf_token %}
    <h3 class="orange-text">Change Password</h3>
    <p>Veuillez entrer un nouveau mot de passe.</p>
<form method="post">
    {% csrf_token %}
    <label for="new_password1">Nouveau mot de passe:</label>
    <input type="password" id="new_password1" name="new_password1" required><br>
    <label for="new_password2">Confirmer le mot de passe:</label>
    <input type="password" id="new_password2" name="new_password2" required><br>
    <button type="submit">Réinitialiser le mot de passe</button>
</form>
    
</form>
<img src="{% static 'img/orange-tunisie.png' %}" class="logo" style="margin-top: 20px"/>

</body>
</html>

